# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# VSCode files
.DS_Store
.vs
*.code-workspace
*.vscode

# Object files and debugging files
*.hi
*.o
*.out
*.dSYM

# Vim files
tags
*.swp
$HOME

# Apple files
*.icloud

# LaTeX files
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz

# Cabal project files
dist-newstyle
*.local

# Plots
plots/*
